* {
    margin: 0px;
    padding: 0px;
}

#grid_wrapper {
    display: grid;
    grid-template-areas: 
    "he he"
    "na na"
    "ma ma"
    "fo fo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 70px auto 50px;
    height: auto;
}

#header {
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#nav {
    grid-area: na;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
}

.nav_links {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: black;
    width: 200px;
    left: 0px;
    position: absolute;
    align-items: center;
    top: -300px;
    transition: all 0.5s;
    justify-content: space-around;
}

.nav_active {
    transform: translateY(470px);
}

.nav_burger {
    cursor: pointer;
}

.nav_burger div {
    height: 4px;
    width: 35px;
    background-color: white;
    margin: 7px;
    border-radius: 10%;
    transition: all 0.1s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-9px,-6px);
}

.links {
    list-style: none;
}

.links_decoration {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#main {
    grid-area: ma;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px;
    font-size: x-large;

}


.gender_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 45%;
    background-color: rgb(133, 83, 83)
}


#footer {
    grid-area: fo;
    background-color: black;
}

.gender_section_text {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.logo {
    width: 100px;
}

.contact_text {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.contact_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 350px;
    width: 650px;
    background-color: rgb(133, 83, 83)
}


#inner_grid_wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-areas: 
    "t1 j1"
    "t2 j2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
}

.t_shirts_text {
    grid-area: t1;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeans_text {
    grid-area: j1;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_t-shirt {
    grid-area: t2;
    width: 200px;
}

.photo_jeans {
    grid-area: j2;
    width: 200px;
}

.photo_sections {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}